p{
    color: royalblue /*  El Important da prioridad a la cascada, en este caso se tomara el color azul*/
}


p{
    color:cyan;
}



p{
    color: green;
    font-size: 20px;
    text-shadow: 1cm;
}

p::first-letter{
    color: rebeccapurple;
}


.Changes{

    color: mediumseagreen;
    border-left: 40px;
    font-size: 30px;
}

#ID_1{

    color: aliceblue;
    font-size: x-large;
}

a:link{


    color:brown;
}

a:visited{
    color: yellow;
}

a:hover{
    color:aliceblue;
    font-size: large;
}

a:active{
    color:blanchedalmond;
    font-size:x-small;
}

input:focus{

    color:red;
    background-color: black;
}